
<script src="https://cdn.alloyui.com/3.0.1/aui/aui-min.js"></script>
<input type="hidden" id="padId" name="padId" value="<%= @uuid %>">

<div class="container-fluid h-100 p-0 m-0">
   <div id="myEditor" class="row h-100 w-100 m-0">
   </div>
</div>
