<div class="h-full flex flex-col snippet">
  <.flash_group flash={@flash} />
  <.form :let={_f} for={@form} as={nil} method="post" class="grow flex flex-col">
    <input type="hidden" name="_csrf_token" value={get_csrf_token()} />
    <div class="grow">
      <textarea id="text" name="text" class="snippet-area w-full h-full"><%= @form["text"] %></textarea>
    </div>
    <div>
      <.button>Save</.button>
    </div>
  </.form>
</div>
