$background: rgb(34, 34, 34);
$menubackground: rgb(48, 47, 47);
$linenos: rgb(237, 240, 243);;
$detail: rgb(155, 45, 179);
$detailContrast: rgb(237, 240, 243);
$detailTransparent: rgba(255, 0, 255, 0.2);

$text: rgb(237, 240, 243);
$sans-serif-font: 'Lato', sans-serif;
$monospace-font: 'Fira Mono', monospace;
$serif-font: 'Merriweather', serif;