@import "_colors";

// Entire form.
.snippet-form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

// Menu bar on top of page.
.snippet-settings-row {
    flex-grow: 0;
}

// Snippet content
.snippet-content-row {
    flex-grow: 1;
    width: 100%;
}
// Individual controls in menu bar.
.setting:first-child {
 margin-left: 0;   
}
.setting {
    display: inline;
    margin-left: 1rem;
    margin-right: 1rem;
}

// Checkboxes.
.checkbox {
    background-color: $menubackground;
}

label {
    text-transform: uppercase;
}

// The code textarea.

.snippet-content {
    background-color: $background;
    border: 0px solid #f6e4cc;
    color: #d2d7d3;
    outline: none;
    resize: none;
    font-family: $monospace-font;
    min-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

button {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-transform: uppercase;
    color: $text;
    background-color: $menubackground;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    height: 2.25rem;
    padding: 0 1rem;
    // margin: 0.05rem 0;
    border: 1px solid $text;
    border-radius: 2px;
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    text-align: center;
    line-height: 2.25rem;
    vertical-align: middle;
    white-space: nowrap;
    // -webkit-user-select: none;
    // -moz-user-select: none;
    // -ms-user-select: none;
    // user-select: none;
    font-size: 0.875rem;
    font-family: inherit;
    letter-spacing: 0.03em;
    position: relative;
    overflow: hidden;
}
