@import "_colors";

.statistics-container {
    max-width: 1140px;
    margin-left: auto !important;
    margin-right: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tile {
    background-color: $detailTransparent;
    padding: 5px;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.tile p {
    margin: 5px;
}

.tile p svg {
    vertical-align: middle;
}

.tile h5 {
    margin: 5px;
}
