@import "./custom.scss";
@import "~highlight.js/styles/xt256.css";
@import "highlight";
@import "_colors";
@import "_newsnippet";
@import "_reader";
@import "_table";
@import "_statistics";
@import "_search";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import "_static";

// @import "~ionicons"

// Layout
body,
html {
    padding-left: 0.1rem;
    margin: 0;
    background: $background;
    height: 100%;
    margin: 0 !important;
    font-family: $sans-serif-font;
    color: $text;
    // overflow: hidden;
}

hr {
    color: $detail;
}
.container-fluid {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: row;
    min-height: 100%;
}

.code-column {
    /* do not grow   - initial value: 0 */
    flex-grow: 1;
    /* shrink - initial value: 1 */
    flex-shrink: 1;
    /* width/height  - initial value: auto */
    flex-basis: auto;
    min-width: 0;
    padding: 1rem;
}

// Menu Bar
.menu-column {
    background-color: $menubackground;
    box-shadow: -5px 0 8px rgba(48, 47, 47, 0.308);

    flex-grow: 0;
    flex-shrink: 0;
    /* width/height  - initial value: auto */
    flex-basis: auto;

    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    color: $text;

    display: flex;
    flex-direction: column;

    // On pages where no date is shown.
    width: 15ch !important;
}

.iconify {
    color: $detail;
}
.iconify-white {
    color: $detailContrast;
}

// Top Menu
.menu-column-top {
    margin-bottom: auto;
}

// Menu entries.
.menu-entry {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.branding {
    text-align: center;
}

.branding h5 {
    margin: 1rem;
    font-size: 1rem;
}

.menu-entry .icon {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 1rem;
}

.menu-entry .icon svg {
    vertical-align: middle;
}

.menu-entry .title {
    vertical-align: middle;
}

// Alerts
.alert {
    padding: 0.2rem 1rem 0.2rem 1rem;
    margin: 0;
    border: 2px solid transparent;
    border-radius: 1px !important;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert p {
    margin-bottom: 0;
}

.alert:empty {
    display: none;
}

.invalid-feedback {
    color: #a94442;
    display: block;
    margin: -1rem 0 2rem;
}

// Links
a {
    color: unset;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: bold;
}

a:active {
    text-decoration: none;
}

.link {
    color: $detail;
}

.menu-column-top > a {
    color: unset;
}

// Text

h5 {
    font-size: 1.25rem;
}
