@import "_colors";

.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    color: #ccc;
    // border-right: 1px solid #ccc;
    vertical-align: top;
    padding-right: 5px;
    margin-right: 100px;

    /* your custom style here */
}

/* for block of code */
.hljs-ln-code {
    padding-left: 10px;
}

.hljs {
    background: $background;
}

.hljs-ln-n {
    padding-right: 0.5rem;
    color: $linenos;
    white-space: nowrap;
}

.code-column pre {
    margin: 0 !important;
    padding: 0 !important;
    
}

.code-column pre code {
    margin: 0 !important;
    padding: 0 !important;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    overflow-wrap: anywhere; 
}
