

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="Christophe De Troyer">
      <title>ExBin</title>
      <link rel="shortcut icon" href="<%= static_path(@conn, "/favicon.ico") %>" />
   </head>
   <body>
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
         <a class="navbar-brand" href="/">
         ExBin
         <img src="<%= static_path(@conn, "/images/logo.png") %>" width="30" height="30" class="d-inline-block align-top" alt="">
         </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
                  <%= link raw(~s'New'), to: page_path(@conn, :new), class: "nav-link"  %>
               </li>
               <li class="nav-item active">
                  <%= link raw(~s'About'), to: page_path(@conn, :about), class: "nav-link"  %>
               </li>
               <li class="nav-item active">
                  <%= link raw(~s'Recent Pastes'), to: page_path(@conn, :list), class: "nav-link"  %>
               </li>
               <li class="nav-item active">
                  <%= link raw(~s'Statistics'), to: page_path(@conn, :stats), class: "nav-link"  %>
               </li>
            </ul>

            <%= form_for @conn, page_path(@conn, :search), [as: :query, class: "form-inline", style: "width: unset;"], fn f -> %>
               <%= text_input f, :content, class: "form-control mr-sm-2" , autofocus: false%> 
               <%= submit "Submit", class: "btn btn-primary my-2 my-sm-0" %>
            </div>
            <% end %>

            <%= if assigns[:snippet] do %>
            <ul class="navbar-nav">
               
               <li class="nav-item active mr-05">
                  <%= link raw(~s'<i class="fa fa-code"></i> Raw'), to: page_path(@conn, :raw, @snippet.name), class: "nav-link"  %>
               </li>
               <li class="nav-item active navbar-right mr-05">
                  <a class="nav-link"><i class="fa fa-eye"></i> <%= @snippet.viewcount %></a>
               </li>
               <%= if @snippet.private do %>
               <li class="nav-item active mr-05">
                  <a class="nav-link"><i class="fa fa-lock"></i> <strong>Private</strong></a>
               </li>
               <% end %>     
               <% end %>     
            </ul>
         </div>
      </nav>
      <!-- Page Content -->
      <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
      <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
      <%= render @view_module, @view_template, assigns %>
   </body>
</html>

