<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>ExBin</title>
      <link rel="shortcut icon" href="<%= static_path(@conn, "/favicon.ico") %>" />
      <!-- Bootstrap core CSS -->

   </head>
   <body>
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
         <a class="navbar-brand" href="/">
         ExBin
         <img src="<%= static_path(@conn, "/images/logo.png") %>" width="30" height="30" class="d-inline-block align-top" alt="">
         </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
                <%= link raw(~s'New'), to: page_path(@conn, :new), class: "nav-link"  %>
               </li>
               <li class="nav-item active">
                <%= link raw(~s'About'), to: page_path(@conn, :about), class: "nav-link"  %>
               </li>               
               <!-- Disabled -->
               <!-- 
               <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
               </li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown01">
                     <a class="dropdown-item" href="#">Action</a>
                     <a class="dropdown-item" href="#">Another action</a>
                     <a class="dropdown-item" href="#">Something else here</a>
                  </div>
               </li>
               -->
            </ul>
            <!-- 
            <form class="form-inline my-2 my-lg-0">
               <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
               <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            -->
         </div>
      </nav>
      <!-- Page Content -->
      <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
      <div class="container-fluid h-100">
         <%= render @view_module, @view_template, assigns %>
      </div>
      <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
   </body>

</html>