<!DOCTYPE html>
<html lang="en">

<head>
  <%= csrf_meta_tag() %>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ExBin</title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</head>

<body>
  <main role="main" class="container-fluid">
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

    <div class="flex-container">
      <%# Content Column %>
        <div class="code-column">
          <%= @inner_content %>
        </div>

        <%# Menu Column %>
        <div class="menu-column">
          <div class="menu-column-top">

            <!-- Menu Entry Statistics -->
            <a href="<%= Routes.snippet_path(@conn, :statistics) %>">
            <div class="menu-entry-bottom menu-entry">
              <span class="icon">
                <span class="iconify" data-icon="mdi-chart-line"></span>
              </span>
              <span class="title">
                Stats
              </span>
            </div>
            </a>
            <!-- Menu Entry Latest -->
            <a href="<%= Routes.snippet_path(@conn, :list) %>">
            <div class="menu-entry-bottom menu-entry">
              <span class="icon">
                <span class="iconify" data-icon="mdi-format-list-bulleted"></span>
              </span>
              <span class="title">
                Latest
              </span>
            </div>
            </a>

            <!-- Menu Entry About -->
            <a href="<%= Routes.page_path(@conn, :about) %>">
            <div class="menu-entry-bottom menu-entry">
              <span class="icon">
                <span class="iconify" data-icon="mdi-information"></span>
              </span>
              <span class="title">
                About
              </span>
            </div>
            </a>

            <!-- Menu Entry Search -->
            <a href="<%= Routes.page_path(@conn, :index) %>">
            <div class="menu-entry-bottom menu-entry">
              <span class="icon">
                <span class="iconify" data-icon="mdi-search"></span>
              </span>
              <span class="title">
                Search
              </span>
            </div>
            </a>

            <!-- Menu Entry New -->
            <a href="<%= Routes.snippet_path(@conn, :new) %>">
            <div class="menu-entry-bottom menu-entry">
              <span class="icon">
                <span class="iconify" data-icon="mdi-folder-plus"></span>
              </span>
              <span class="title">
                New
              </span>
            </div>
            </a>

            <%= if assigns[:snippet] do  %>
            <div class="menu-entry">
            <hr>
            </div>
            <!-- Menu Entry Raw -->
            <div class="menu-entry">
              <a href="<%= Routes.snippet_path(@conn, :rawview, @snippet.name) %>">
              <span class="icon">
                <span class="iconify" data-icon="mdi-code-braces"></span>
              </span>
              <span class="title">
                Raw
              </span>
              </a>
            </div>

            <!-- Menu Entry Raw -->
            <div class="menu-entry">
              <a href="<%= Routes.snippet_path(@conn, :codeview, @snippet.name) %>">
              <span class="icon">
                <span class="iconify" data-icon="mdi-file-code-outline"></span>
              </span>
              <span class="title">
                Code
              </span>
              </a>
            </div>

            <!-- Menu Entry Reader -->
            <div class="menu-entry">
              <a href="<%= Routes.snippet_path(@conn, :readerview, @snippet.name) %>">
              <span class="icon">
                <span class="iconify" data-icon="mdi-book-open"></span>
              </span>
              <span class="title">
                Reader
              </span>
              </a>
            </div>

            <!-- Menu Entry Date -->
            <div class="menu-entry">
              <span class="icon">
                <span class="iconify" data-icon="mdi-calendar"></span>
              </span>
              <span class="title">
                <%= format_date(@snippet.inserted_at) %>
              </span>
            </div>

            <!-- Menu Entry Viewcount -->
            <div class="menu-entry">
              <span class="icon">
                <span class="iconify" data-icon="mdi-eye"></span>
              </span>
              <span class="title">
                <%= @snippet.viewcount %>
              </span>
            </div>

            <!-- Menu Entry Public -->
            <div class="menu-entry">
              <span class="icon">
                <%= if @snippet.private do %>
                <span class="iconify" data-icon="mdi-lock"></span>
                <% else %>
                <span class="iconify" data-icon="mdi-globe"></span>
                <% end %>
              </span>
              <span class="title">
                <%= if @snippet.private do %>
                Private
                <% else %>
                Public
                <% end %>
              </span>
            </div>

            <!-- Menu Entry Ephemeral -->
            <%= if @snippet.ephemeral do %>
            <div class="menu-entry">
              <span class="icon">
                <span class="iconify" data-icon="mdi-timer-sand"></span>
              </span>
              <span class="title">
                <%= time_left(@snippet.inserted_at) %>
              </span>
            </div>
            <% end %>
          <% end %>
          </div>


          <!-- Menu Bottom  -->
          <div class="menu-column-bottom">
            <div class="menu-entry branding">
              <img src="<%= Routes.static_path(@conn, "/images/logo.png") %>" width="30" height="30" class="d-inline-block align-top" alt="">
              <h5><%= Application.get_env(:exbin, :brand) %></h5>
            </div>
          </div>
        </div>
    </div>

  </main>
</body>

</html>
