<div class="row h-100 mt-5">
    <code class="code-content">
      <pre>
<%= @snippet.content %>
      </pre>
    </code>
</div>
<link rel="stylesheet" href="<%= static_path(@conn, "/css/atom-one-dark.css") %>">